.container {
  width: 60%;
  height: 100%;
  float: left;
  padding: 0 0 20px 20px;
  overflow: auto;
}
.para-text {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 15px;
  line-height: 15px;
  font-size: 14px;
}