.container {
  width: 100vw;
}
.page-content {
  width: 90vw;
  margin: 0 auto 15px auto;
}
.stuff {
  float: left;
  width: 100%;
  border-top: 2px solid #000;
  padding: 15px 0 15px 0;
}
.story-block {
  clear: both;
  float: left;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-bottom: 15px;
}
.news-title {
  float: left;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 30px;
  letter-spacing: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid #000;
}
