.image-container {
  width: 100%;
  height: 78vh;
  background-size: cover;
  background-position: top;
  overflow: hidden;
}

@media screen and (max-width: 875px){
  .image-container {
    height: 60vh;
  }
}
@media screen and (max-width: 600px){
  .image-container {
    height: 40vh;
  }
}