{
  "parser": "babel-eslint",
  "extends": ["airbnb", "standard"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-shadow": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/no-unused-state": 0,
    "react/no-did-mount-set-state": 0,
    "camelcase": 0,
    "react/no-did-update-set-state": 0
  }
}