.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.page-content {
  width: 90vw;
  margin: 0 0 0 5vw;
  height: 88vh;
}
.image {
  width: 350px;
  margin-left: -11px;
  margin-top: -5px;
}
.logo-box {
  height: 12vh;
  width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .image {
    width: 310px;
  }
}