.container {
  width: 100vw;
  height: 100vh;
}
.content {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
}
.grid-container {
  padding-top: 30px;
  width: 100%;
  margin-bottom: 50px;
  overflow: auto;
}
.nav-list {
  width: 75%;
  margin: -10px 0 0 0;
  display: flex;
  align-items: right;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-between;  
}
.nav-list li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.item {
  color: #aaaaaa;
}
.item:hover {
  cursor: pointer;
  color: #000 !important;
}
.sort {
  font-weight: 900;
}
@media screen and (max-width: 875px){
  .nav-list {
    margin-top: -20px;
  }
}
@media screen and (max-width: 700px){
  .nav-list {
    width: 100%;
  }
}
@media screen and (max-width: 550px){
  .nav-list li{
    font-size: 10px;
  }
}