.container {
  width: 100%;
  margin-top: 20px;
  clear: both;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: 6px;
  color: #000;
  width: 100%;
  font-weight: 500;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.client-grid {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: space-between;
}