.container {
  width: 24%;
  min-width: 200px;
  height: 300px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.container:hover {
  cursor: pointer;
}
.container:hover .title {
  color: #000;
}
.image-container {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.image-container:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.title {
  width: 100%;
  height: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #a0a0a0;
  text-decoration: none;
  padding-top: 5px;
  background-color: #fff;
  transition: color 0.5s;
}

@media screen and (max-width: 900px){
  .container {
    width: 32%;
  }
}
@media screen and (max-width: 680px){
  .container {
    width: 48%;
  }
}
@media screen and (max-width: 455px){
  .container {
    width: 100%;
    height: 300px;
  }
}