.container {
  width: 100%;
  float: left;
  clear: both;
  padding-top: 20px;
  border-top: 2px solid #000;
}
.para-text {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 15px;
  line-height: 20px;
  font-size: 14px;
}