.container {
  width: 100vw;
  padding: 30px;
}
.content-container {
  width: 100%;
  padding: 30px;
}
.title {
  width: 100%;
  border-bottom: 2px solid #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 30px;
  letter-spacing: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.top-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.top-list li {
  width: 49%;
}
.styled-button {
  width: 150px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 20px;
  background: #2196F3;
  transition: all 0.5s ease;
  margin-top: 20px;
}
.styled-button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background: rgba(33, 149, 243, 0.8);  
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.styled-button:active {
  transform: translateY(-2px);
  outline: none;
  box-shadow: 0 5x 10px rgba(0,0,0,0.2);
}
.styled-button:focus {
  outline: none;
}
.choice {
  width: 225px;
  margin: 0 5px;
}
.select-box {
  margin-top: 25px;
}
.file-name {
  padding-left: 10px;
}

@media screen and (max-width: 415px) {
  .top-list li {
    width: 100%;
  }
  .container {
    padding: 0;
  }
}