.container {
  width: 100%;
  padding: 30px;
}
.title-box {
  width: 100%;
  height: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 30px;
  letter-spacing: 10px;
  width: 80%;
  float: left;
}
.button-box {
  float: left;
  width: 20%;
}
.client-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 15px;
}