.container {
  width: 100vw;
  padding: 30px;
}
.content-container {
  width: 100%;
  padding: 30px;
}
.top-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.top-list li {
  width: 32%;
}
.date-input {
  margin-top: 24px;
}
.title {
  width: 100%;
  border-bottom: 2px solid #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 30px;
  letter-spacing: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.save-button {
  width: 150px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 20px;
  background: #2196F3;
  transition: all 0.5s ease;
  margin-top: 20px;
}
.save-button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background: rgba(33, 149, 243, 0.8);  
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.button-container button:first-child:hover {
  background: rgba(33, 149, 243, 0.8);
}