.container {
  width: 100%;
  margin-top: 20px;
  height: 175px;
}
.image-container {
  width: 30%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.image-container img {
  width: 100%;
}
.text-container {
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  height: 100%;
  float: left;
  padding: 10px;
}
.text-container > * {
  padding-bottom: 15px;
}
.text-container h3 {
  font-size: 12px;
}
.text-container h1 {
  font-size: 16px;
  font-weight: 600;
}
.button-container {
  width: 10%;
  height: 100%;
  float: left;
}
.button-container button {
  width: 100%;
  height: 50%;
  border: none;
  float: left;
  color: #fff;
  font-size: 20px;
  background: #000;
  transition: all 0.5s ease;
}
.button-container button:first-child {
  background: #2196F3;
}
.button-container button:hover {
  cursor: pointer;
  transform: translatex(5px);
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.button-container button:first-child:hover {
  background: rgba(33, 149, 243, 0.8);
}