.container {
  width: 32%;
  margin-bottom: 20px;
}
@media screen and (max-width: 1010px){
  .container {
    width: 48%;
  }
}
@media screen and (max-width: 700px){
  .container {
    width: 100%;
  }
}