.container {
  height: 90%;
  width: 100%;
  background: #eeeeee;
}
.image {
  width: 100%;
  margin-top: -5%;
}
.link-list {
  width: 15%;
  margin-left: 42.5%;
}
.link-list li {
  border-bottom: 1px solid #000;
  padding-top: 15px;
  padding-bottom: 5px;
}
.link-list li a {
  font-family: monospace;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}