.container {
  width: 100vw;
  height: 100vh;
}
.page-content {
  width: 80vw;
  height: 90vh;
  margin: auto auto;
}
.para-text {
  font-family: monospace;
  padding-bottom: 15px;
  line-height: 15px;
  font-size: 14px;
}
.text-content {
  padding: 30px;
  background: #dddddd;
  height: 80vh;
  width: 100%;
  overflow: auto;
}