.container {
  float: left;
  clear: both;
  width: 100%;
  height: 6vh;
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.container li {
  padding-bottom: 5px;
}
.container li a {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}
@media screen and (max-width: 610px){
  .container {
    height: 10vh;
  }
}
@media screen and (max-width: 320px) {
  .container li a {
    font-size: 12px;
  }
}