html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Landing Navbar styles */
.nav-container {
  position: fixed;  
  width: 100vw;
  z-index: 10;
}
.logo-container {
  width: 50%;
  float: left;
  height: 100px;
  padding-left: 5%;
}
.menu-list {
  width: 50%;
  float: right;
  position: relative;
}
.menu-list li { 
  float: right;
  width: 100px;
  height: 100px;
  padding-top: 45px;
}
.nav-link {
  text-decoration: none;
  color: #bbbbbb;  
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  position: relative;
}
.nav-link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.white-logo {
  width: 400px;
  position: absolute;
}

/* About page styles */
.about-text,
.dsp-text {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: auto;
  padding: 20px 50px 20px 6%;
}

/* Full Navbar styles */
.full-navbar-container{
  background-color: #fff;
}
.full-nav-link {
  text-decoration: none;
  color: #aaaaaa;  
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  position: relative;
}
.full-nav-link:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

/* Client Nav */
.client-sub-menu {
  float: left;
  width: 100%;
  height: 50px;
  background: #fff;
  box-shadow: 1px 1px 0px 0px #dddddd;
}
.filter-list {
  width: 89%;
  margin: 0 5% 0 6%;
  height: 100%;
}
.filter-item,
.search-bar-box {
  float: left;
  height: 35px;
  width: 20%;
}
.filter-item button {
  border-radius: 0;
  width: 100%;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 16px;
  border: 1px solid #000;
  border-right: none; 
  padding: 0 0 0 10px;
  text-align: left;
  transition: background-color 0.5s ease
}
.search-bar {
  width: 100%;
  float: left;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid #000;
}
.search-bar:hover {
  box-shadow: 2px 2px 2px 0px #aaaaaa;
}
.search-bar:focus {
  box-shadow: 2px 2px 2px 0px #aaaaaa;
  outline: none;  
}
.filter-list li button:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
  box-shadow: 1px 1px 0px 0px #dddddd;  
}
.filter-list li button:active,
.filter-list li button:focus {
  color: #fff;
  background-color: #000;
  outline: none;
}

/* Video styles */
.video-container {
  position: absolute;
}

/* News Grid styles */
.news-grid-container {
  position: absolute;
  top: 100vh;
  width: 100vw;
  min-height: 100vh;
}
.news-grid {
  width: 96%;
  margin: 0 2% 0 2%;
  min-height: 100vh;
  padding-bottom: 15px;
  padding-top: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: space-around;
}
.nav-blocker {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100px;
  background: #fff;
  z-index: 20;
}

/* Single Story Styles */
.news-story {
  flex-basis: 350px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 5px;
  transition: margin 0.3s ease;
}
.news-story:hover {
  margin-top: -5px;
  box-shadow: 2px 2px 2px 0px #bbbbbb;  
}
.story-link-tag {
  text-decoration: none;  
}
.image-container {
  width: 100%;
  height: 50%;
  position: relative;
  z-index: -1;
}
.news-image {
  width: 100%;
}
.news-info {
  width: 100%;
  height: 50%;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #000;
  border-top: none;  
}
.outlet-logo {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.news-text-container {
  height: 60%;
  width: 100%;
  padding: 0 10px 10px 10px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
.news-title {
  font-weight: 900;
  color: #000;
}
.news-dek {
  margin-top: 5px;
  color: #aaaaaa;
  font-size: 13px;
}
.news-tag {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;  
  height: 20%;
  padding-top: 5px;
  padding-right: 20px;
  float: right;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.tag-link {
  text-decoration: none;
  color: #aaaaaa;
  font-weight: 400;
}
.tag-link:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}

/* Footer styles */
.footer-container {
  height: 30px;
  width: 100%;
  position: relative;
  background-color: #dddddd;
}
.footer li{
  float: left;
  width: 33.33%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  color: #aaaaaa;
}

/* Clients styles */
.client-nav-container {
  width: 100vw;
  height: 100px;
  position: fixed;
  background-color: #fff;
}

/* Client grid styles */
.client-grid-container {
  min-height: calc(100vh - 105px);  
  width: 100vw;
  padding-top: 160px;
}
.client-grid {
  width: 96%;
  margin: 0 2% 0 2%;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: space-around;
  padding-bottom: 15px;  
}

/* Single Client styles */
.single-client-container {
  width: 250px;
  height: 150px;
  margin: 5px;
  transition: margin 0.3s ease; 
  box-shadow: 2px 2px 2px 0px #bbbbbb;
}
.single-client-container:hover {
  margin-top: -4px;
  box-shadow: 2px 2px 6px 0px #aaaaaa;  
}
.client-thumbnail-container {
  width: 100%;
  height: 75%;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.client-thumbnail {
  width: 100%;
}
.client-name {
  padding: 10px;
  text-align: center;
  color: #000;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;  
  height: 25%;
  z-index: 1;
}
.client-link {
  text-decoration: none;
}

/* Client Page Styles */
.client-page-container {
  height: calc(100vh - 100px);
  width: 100vw;
  position: absolute;
  top: 100px;
}

/* Client Info Styles */
.client-info-container {
  height: 50%;
}
.client-info {
  border-top: 2px solid #000;
  margin: 0 15px 15px 15px;
  height: 95%;
}

/* Client Image Styles */
.client-image-container,
.client-bio-container {
  width: 40%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.client-page-image {
  margin: 7px 0 0 0;
  width: 100%;
}
.link-container {
  width: calc(40% - 12px);
  background: #fff;
  position: absolute;
  bottom: calc(50% + 13px);
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
}
.link-container li {
  float: left;
  margin-top: 5px;
}
.link-logo:hover,
.link-button:hover {
  margin-top: -5px;
  box-shadow: 2px 2px 2px 0px #aaaaaa; 
  cursor: pointer;   
}
.link-logo {
  height: 45px;
  width: 45px;
  box-shadow: 2px 2px 2px 0px #bbbbbb;  
  transition: margin 0.3s ease;      
}
.link-button {
  color: #000;
  font-family: 'Roboto', sans-serif;
  border-top: 2px solid #000;
  font-size: 20px;
  padding: 10px;
  height: 45px;
  box-shadow: 2px 2px 2px 0px #bbbbbb;  
  transition: margin 0.3s ease;      
}
.client-image-name {
  color: #000;
  width: 50%;
  float: left;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  font-weight: 700;
  padding: 45px 0 0 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


/* Client Bio Styles */
.client-bio-container {
  width: 60%;
  overflow: auto;
  padding: 5px 5px 15px 15px;
}

/* Client News Styles */
.client-news-container {
  padding: 10px 10px 0 10px;
  overflow-x: auto;
  height: 50%;
  display: flex;
  flex-wrap: nowrap;
}

/* Para Text (mapped text) style */
.para-text {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 15px;  
  line-height: 125%;
}