.story-container {
  width: 32%;
  margin-bottom: 20px;
  height: 350px;
  min-width: 250px;
  transition: all 0.5s ease;
}
.image-container {
  height: 50%;
  width: 100%;
  float: left;
  background-size: cover;
  background-position: top;
}
.content-list {
  float: left;
  height: 50%;
  width: 100%;
  padding-top: 10px;
  color: #000;
  padding: 5px;
}
.story-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.content-list li {
  padding-bottom: 10px;
}
.title {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.date {
  font-family: 'Montserrat', sans-serif;
}
.dek {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 840px) {
  .story-container {
    width: 48%;
  }
}
@media screen and (max-width: 555px) {
  .story-container {
    width: 100%;
    height: 400px;
  }
  .image-container {
    height: 60%;
  }
  .content-list {
    height: 40%;
  }
}
