.container {
  height: 100vh;
  float: left;
  margin-left: 50px;
  width: calc(100vw - 50px);
  overflow: hidden;
  overflow-x: hidden;
}
.background-image {
  min-width: 100%;
  max-height: 120%;
  height: auto;
  z-index: -10;
}