.container {
  width: 50px;
  height: 100vh;
  position: fixed;
}
.menu-list {
  height: 100%;
  width: 100%;
  background: #eeeeee;
}
.menu-list li {
  float: left;
  padding: 15px;
}
.logo-item {
  height: 8%;
  width: 50px;
}
.menu-list li img {
  width: 100%;
}
.name-item {
  width: 50px;
  height: 68%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: monospace;
  letter-spacing: 10px;
  font-size: 20px;
}
.menu-button {
  background: #839CA5;
  color: #fff;
}
.menu-button:hover {
  cursor: pointer;
}
.social:hover {
  background: #839CA5;
  cursor: pointer;
}