.container {
  height: 100vh;
  margin-left: 50px;
  width: calc(100vw - 50px);
  background: #fff;
  float: left;
}
.news-header {
  width: 90%;
  margin: 50px 0 20px 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  color: #839CA5;
  letter-spacing: 5px;
}