.story-container {
  float: left;
  width: 90%;
  margin: 0 0 20px 5%;
  height: 200px;
  transition: box-shadow 0.5s ease;
}
.story-container:hover {
  box-shadow: 2px 2px 2px 0px #dddddd; 
}
.image-container {
  width: 300px;
  height: 100%;
  overflow: hidden;
  float: left;
}
.story-image {
  min-width: 100%;
  height: 90%;
  float: left;
}
.text-container {
  float: left;
  width: calc(100% - 300px);
  height: 100%;
  padding: 20px;
  padding-top: 0;
}
.text-list li {
  float: left;
  padding-bottom: 15px;
}
.logo {
  float: left;
  width: 100px;
}
.date {
  font-family: monospace;
  font-size: 16px;
  color: #a0a0a0;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.dek {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;  
  color: #a0a0a0;
}
.link {
  font-family: monospace;
  font-size: 16px;
}
.link a {
  text-decoration: none;
  color: #839CA5;
}
.link a:hover {
  text-decoration: underline;
}